{% extends 'base.html' %}

{% block content %}
    <form class="site-form has-text-centered has-background-light" method="POST">
        <h1 class="title is-size-2 has-text-centered">Sign in</h1>
        {% csrf_token %}
        {% for field in form %}
       <div class="filed">
           <label class="label" for="{{ field.id_for_laber }}">{{ field.label }}</label>
           {{ field }}
       </div>
       {% endfor %}
        <button class="button is-success is-fullwidth mt-4" type="submit">Sign in</button> <br>
        <a href="{% url 'sign_up' %}" class="is-vcentered is-info">Ro`yxatdan O`tish</a>
    </form>
{% endblock content %}